body {
	font-family: arial, sans-serif;
}

ul li {
	list-style: none;
}

h5 {
	display: inline;
}

p {
	margin: 5px 0;
}

em {
	font-weight: normal;
}

footer {
	text-align: center;
	padding: 50px 0 30px;
	font-size: 9pt;
}

table td, table th {
	text-align: left;
	border: solid thin black;
	background-color: white;
	padding: 5px;
}

aside > h3 {
	display: inline;
}

a {
	cursor: pointer;
}

#project-header {
	background-color: #61B4CF;
	padding: 5px;
	color: white;
	font-family: Geneva, sans-serif;
}

#wrapper {
	margin: auto;
	min-width: 500px;
	max-width: 970px;
	width: 55%;
	height: 100%;
	background-color: #E8E8E8;
}

#project-name {
	padding: 20px 0;
}

#property-table {
	font-size: 11pt;
}

#method-list-container {
	right: 0;
}

#method-tab {
	right: -25px;
	margin-top: 34px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-k-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#class-tab {
	left: -25px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-k-transform: rotate(90deg);
	transform: rotate(90deg);
}

.left {
	float: left;
}

.right {
	float: right;
}

.sidebar {
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	padding-right: 30px;
	margin-top: 30px;
}

.tab {
	padding: 5px 10px 30px 10px;
	position: fixed;
	margin-top: 30px;
	z-index: 99;
	background-color: #61B4CF;
	color: white;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	cursor: pointer;
	display: none;
}

.close {
	text-decoration: none;
	background-color: #FF7F7F;
	padding: 0 3px;
	color: white;
	border-radius: 4px;
	font-weight: bold;
	font-size: 9pt;
	position: relative;
	top: -3px;
}

.content {
	margin: auto;
	width: 90%;
}

div.method header {
	background-color: #A3D6E7;
	border-radius: 10px;
}

div.method h4 {
	padding: 10px 0 10px 10px;
}

div.method > div {
	margin-left: 40px;
	font-size: 11pt;
}

div.method > div > p {
	margin: 0 0 15px;
}

div.return {
	margin-top: 20px;
}

table.no-params {
	display: none;
}

div.method.private header {
	background-color: #ECBEBE;
}

div.method.protected header {
	background-color: #E9DF93;
}

table.classes.className {
	width:30%;
}

table.classes.description {
	width:70%;
}

table.classes td, table.classes th {
	border: solid thin black;
	background-color: white;
	padding: 5px;
}

table.classes {
	width:100%;
}

div.version-info {
	margin-top: 15px;
	position: relative;
	height: auto;
	overflow: hidden;
}

div.line-wrapper {
	position: relative;
	height: auto;
	overflow: hidden;
	max-width: 300px;
	margin: 3px 0;
}

div.line-wrapper > div {
	float: left;
}

div.label {
	width: 20%;
	text-align: left;
	margin-right: 20px;
}