body {
	font-family: arial, sans-serif;
}

ul li {
	list-style: none;
}

h5 {
	display: inline;
}

p {
	margin: 5px 0;
}

em {
	font-weight: normal;
}

footer {
	text-align: center;
	padding: 50px 0 30px;
	font-size: 9pt;
}

table td, table th {
	text-align: left;
	border: solid thin black;
	background-color: white;
	padding: 5px;
}

#project-header {
	background-color: #61B4CF;
	padding: 5px;
	color: white;
	font-family: Geneva, sans-serif;
}

#sidebar {
	float: left;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

#wrapper {
	margin: auto;
	min-width: 500px;
	max-width: 970px;
	width: 55%;
	height: 100%;
	background-color: #E8E8E8;
}

.content {
	margin: auto;
	width: 90%;
}

#project-name {
	padding: 20px 0;
}

#property-table {
	font-size: 11pt;
}

div.method header {
	background-color: #A3D6E7;
	border-radius: 10px;
}

div.method h4 {
	padding: 10px 0 10px 10px;
}

div.method > div {
	margin-left: 40px;
	font-size: 11pt;
}

div.method > div > p {
	margin: 0 0 15px;
}

div.return {
	margin-top: 20px;
}

table.no-params {
	display: none;
}

div.method.private header {
	background-color: #ECBEBE;
}

div.method.protected header {
	background-color: #E9DF93;
}

table.classes.className {
	width:30%;
}

table.classes.description {
	width:70%;
}

table.classes td, table.classes th {
	border: solid thin black;
	background-color: white;
	padding: 5px;
}

table.classes {
	width:100%;
}